{% extends 'vwebapp/header.html' %}
{% block content %}
<p> Hey, Welcome to website </p>

{% load static %}

<style>
  .outsideWrapper{ 
    width:370px; height:260px; 
    margin:60px 20px;
    border:1px solid blue;}
  .insideWrapper{ 
    width:100%; height:100%; 
    position:relative;}
  .coveredImage{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
  }
  .coveringCanvas{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    background-color: rgba(255,0,0,.1);
  }
</style>

<div class="outsideWrapper">
    <div class="insideWrapper">
        {% load static %}
        <img src="{% static 'vwebapp/img/splash-image-1.jpg' %}" class="coveredImage" />
        <canvas id="canvas", class="coveringCanvas"></canvas>
    </div>
</div>
<script>
    var canvas = document.getElementById('canvas'),
        ctx = canvas.getContext("2d"),
        rects = [],
        ri = -1;
        drag = false;
    var owrapper = document.getElementsByClassName("outsideWrapper")[0];
    var leftOffset = owrapper.offsetLeft;
    var topOffset = owrapper.offsetTop;
    var scaleX = 1.2445 // working for X axis
    var scaleY = 1.74   // working for Y axis
    console.log(leftOffset, topOffset)

    function init() {
        canvas.addEventListener('mousedown',mouseDown, false);
        canvas.addEventListener('mouseup',mouseUp, false);
        canvas.addEventListener('mousemove',mouseMove,false);     
    }
    function mouseDown(e) {
        rects.push({});
        ri += 1;
        var rect = rects[ri];
        rect.startX = (e.clientX - leftOffset)/scaleX;
        rect.startY = (e.clientY - topOffset)/scaleY;
        drag = true;     
    }
    function mouseUp() {
        drag = false;   
    }
    function mouseMove(e) {
        if(drag) {
            var rect = rects[ri];
            var owrapper = document.getElementsByClassName("insideWrapper")[0];
            rect.w = (e.clientX - leftOffset)/scaleX - rect.startX;
            rect.h = (e.clientY - topOffset)/scaleY - rect.startY;     
            ctx.clearRect(0,0,canvas.width, canvas.height);
            draw()
        }
    }
    function draw() {
        rects.forEach(function(rect) {
            ctx.beginPath();
            ctx.rect(rect.startX, rect.startY, rect.w, rect.h);
            ctx.stroke();
        });
    }
</script>

{% endblock %}
