{% extends 'vwebapp/header.html' %}
{% block content %}
<p> Hey, Welcome to website </p>

{% load static %}

<style>
  .outsideWrapper{ 
    width:370px; height:260px; 
    margin:60px 20px;
    border:1px solid blue;}
  .insideWrapper{ 
    width:100%; height:100%; 
    position:relative;}
  .coveredImage{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
  }
  .coveringCanvas{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    background-color: rgba(255,0,0,.1);
  }
</style>

<div class="outsideWrapper">
    <div class="insideWrapper">
        {% load static %}
        <img src="{% static 'vwebapp/img/splash-image-1.jpg' %}" class="coveredImage" />
        <canvas id="canvas", class="coveringCanvas"></canvas>
    </div>
</div>
<div id='anno'>
    <canvas id="c" width:"200px" height:"200px"></canvas>
    <button type="button" onclick="objHandler();"> Delete Object </button>

    <div>
        <select id='ctype'>
            <option value="PatientName">PatientName</option>
            <option value="DoB">DoB</option>
        </select>
        <input id='cContent' type="text">
        <button type="button" onclick="selectHandler();">Set Class </button>
    </div>
    <div>
        <input id='ctypeCustom' type="text">
        <button type="button" onclick="frmHandler();">Set Class </button>
    </div>
</div>
<script>
    var canvas = document.getElementById('canvas'),
        ctx = canvas.getContext("2d"),
        rects = [],
        ri = -1;
        drag = false;
    var owrapper = document.getElementsByClassName("outsideWrapper")[0];
    var leftOffset = owrapper.offsetLeft;
    var topOffset = owrapper.offsetTop;
    var scaleX = 1.2445 // working for X axis
    var scaleY = 1.74   // working for Y axis

    var canvas2 = new fabric.Canvas('c', {
      backgroundColor: 'rgb(200,18000,200)',
      selectionColor: 'blue',
      selectionLineWidth: 2
    });
    var rect2 = new fabric.Rect({
        left: 100,
        top: 100,
        fill: 'red',
        opacity: '0.3',
        width: 20,
        height: 30 }
    );
    canvas2.add(rect2);
    var text = new fabric.Text('vish puttagunta', { left: 100, top: 100, fontSize: 10 });
    canvas2.add(text);

    canvas2.on('mouse:down', function(options) {
        if(options.target) {
            document.getElementById('ctype').value = options.target.annoClass;
            document.getElementById('cContent').value = options.target.annoContent;
            document.getElementById('ctypeCustom').value = options.target.annoClass;
            console.log('object clicked: ', options.target.type);
        }
    });

    function objHandler() {
        var activeObject = canvas2.getActiveObject();
        canvas2.remove(activeObject);
        canvas2.renderAll();
    }
    function frmHandler() {
        var activeObject = canvas2.getActiveObject();
        activeObject.set({annoClass:document.getElementById('ctypeCustom').value});
        canvas2.renderAll();
    }
    function selectHandler() {
        var activeObject = canvas2.getActiveObject();
        var ctype = document.getElementById('ctype').value;
        var cContent = document.getElementById('cContent').value;
        activeObject.set({annoClass:ctype});
        activeObject.set({annoContent:cContent});
        canvas2.renderAll();
    }

    function init() {
        canvas.addEventListener('mousedown',mouseDown, false);
        canvas.addEventListener('mouseup',mouseUp, false);
        canvas.addEventListener('mousemove',mouseMove,false);
    }

    function mouseDown(e) {
        rects.push({});
        ri += 1;
        var rect = rects[ri];
        rect.startX = (e.clientX - leftOffset)/scaleX;
        rect.startY = (e.clientY - topOffset)/scaleY;
        drag = true;     
    }
    function mouseUp() {
        drag = false;   
    }
    function mouseMove(e) {
        if(drag) {
            var rect = rects[ri];
            var owrapper = document.getElementsByClassName("insideWrapper")[0];
            rect.w = (e.clientX - leftOffset)/scaleX - rect.startX;
            rect.h = (e.clientY - topOffset)/scaleY - rect.startY;     
            ctx.clearRect(0,0,canvas.width, canvas.height);
            draw()
        }
    }
    function draw() {
        rects.forEach(function(rect) {
            ctx.beginPath();
            ctx.rect(rect.startX, rect.startY, rect.w, rect.h);
            ctx.stroke();
        });
    }

    canvas2.on('mouse:down', function(options) {
        if(options.target) {
            console.log('object clicked: ', options.target.type);
        }
    });


</script>

{% endblock %}
